{% extends 'base.html.twig' %}

{% block title %}Edit (Admin){% endblock %}

{% block body %}
<div class="admin">
  <h1>Edit a jewels</h1>
  {{ include('admin/jewelry/_form.html.twig', {button: 'Edit a jewels'}) }}
</div>
{% endblock %}
