{% extends 'base.html.twig' %}

{% block title %}Edit (Admin){% endblock %}

{% block body %}
<main>
  <div class="admin">
    <h1>Edit a jewels</h1>
    {{ include('admin/jewelry/_form.html.twig', {button: 'Edit a jewels'}) }}
  </div>
</main>
{% endblock %}
